# temporary folder for data
data/*
!data/.gitkeep 

# temporary folder for models
models/*
!models/.gitkeep

# mlflow
mlruns/
backend-store/

# Python temporary files
__pycache__/
*.py[co]
.ipynb_checkpoints/

# Mac
.DS_Store
._*
